<h1><%= @photo.title %></h1>

<% if @photo.image.present? %>
  <div class="image">
    <%= image_tag @photo.image.url, alt: @photo.title %>
  </div>
<% end %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>