<%# app/views/posts/new.html.erb %>
<% content_for :title, "新規投稿" %>

<div class="max-w-2xl mx-auto px-4 py-8">
  
  <%# 共通エラーメッセージコンポーネントを使用 %>
  <%= render 'shared/error_messages', object: @post %>
  
  <%= render 'form', post: @post %>
  
</div>